body {	
	font-family: Helvetica, arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	margin: 0;
	padding: 0;
}
div,header { display: block; } 
a { text-decoration: none; outline: none; color: #373fdb; }
a:hover { text-decoration: none; outline: none; color: #0067aa; }
.fr { float: right; }
.fl { float: left; }
ul { list-style: none; padding: 0; }
ul li { display: inline-block; }

/*----------- #header begin -----------*/
#header {
	background: #0067aa;
	height: 58px;
}

#header .holder {
  	max-width: 1180px;
    margin: 0 auto;
}

#header:after {
	content: '';
	display: block;
	clear: both;
}

#header a{
	line-height: 58px;
	height: 58px;
	overflow:hidden;
}

#logo a {
	color: #FFF;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 3px;
}

#logo h1,
#logo h2{
	margin: 0;
}

#nav ul {
	cursor: default;
	font: 700 17px/17px "open sans",Helvetica,Arial,sans-serif;
	padding: 0;
	margin-left: 30px;
}

#nav ul li a {
	letter-spacing: 2px;
	color: #B2DFEE;
	display: block;
	padding: 0 25px;
}

#nav ul li a.active, 
#nav ul li a:hover {
	color: #fff;
	background: #005599;
}


#main {
	max-width: 1180px;
	margin: 0 auto;
	padding: 40px 0 54px;
}

.content {
	background: #ffffff;
	float: left;
	width: 798px;
	margin: auto 0;
}

#index .alist li {
	margin: 0 0 20px;
	padding-bottom: 30px;
	border-bottom: 1px dashed #ccc;
}

#index .alist li:last-child {
	border-bottom: none;
}

#index .alist li h2 {
	font-size: 21px;
	margin: 0;
}

#index p {
	font-family: Helvetica;
	color: #444444;
	margin: 10px 0 0 0;
}

#index .alist-pic img{
	width: 200px;
	height: 120px;
	float: left;
}

#index .alist-main{
	margin-left: 220px;
}


/*---------Begin #sidebar----------*/
#sidebar {
	width: 308px;
	float: right;
}

#sidebar .widget {
	display: block;
	overflow: hidden;
	margin-bottom: 30px;
}

#sidebar h2 {
	font: 20px 'Open Sans', Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #ddd;
	height: 35px;
	line-height: 35px;
	margin-top: 0;
}

#sidebar h2 span {
	display: inline-block;
	border-bottom: 3px solid #ff7f02;
	position: relative;
	top: -2px;
}

#sidebar .category ul  {
	width: 50%;
	display: inline-block;
	float: left;
	padding: 0 20px;
	margin-top: -10px;
	border-left: 1px solid #e3e5e6;
}

#sidebar ul li {
	width: 100%;
	border-bottom: 1px dashed #ddd;
	margin: 0 0 10px;
	padding: 3px 0 3px 2px;
}

#sidebar ul li a {
	color: #2c3e50;
	font-size: 16px;
}

#sidebar ul li i {
	color: #ff7f02;
	margin-right: 12px;
}

#sidebar .hot ul {
	display: inline-block;
	width: 100%;
	padding: 0 10px;
}

#sidebar .hot ul li {
}

#about h2 {
	margin-bottom: 10px;
}

#about p {
	text-indent: 20px;
	margin-top: 10px;
}

#about img {
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 10px;
	border-radius: 50%;
}


/*-----Begin #single-----*/

#single {
	margin-bottom: 30px;
}


#single h1 {
	font-size: 26px;
	display: block;
	clear: both;
	margin-bottom: 10px;
	margin-top: 0px;
}

#single h1 a {
	color: #333;
}

#single h2 {
	font-size: 20px;
	line-height: 50px;
}

#single h3 {
	font-size: 18px;
	font-weight: bold;
}


#single .article {
	margin-top: 15px;
	word-wrap: break-word;
}

#single .pre_next_nav {
	margin-top: 20px;
}

#single .meta {
	padding-bottom: 4px;
	border-bottom: 1px dashed #d9d9d9;
}

#single img { max-width: 650px; }

#single blockquote {
	font-size: 14px;
}

#single .copyright {
	margin-top: 30px;
	border: 1px dashed #ddd;
	color: #666;
	font-size: 13px;
	padding: 10px;
}

#single .copyright p {
	margin: 0;
}

#single .copyright a {
	color: #555;
}

#single .pre_and_next {
	margin-top: 15px;
	font-size: 13px;
}

#single .pre_and_next a {
	color: #666;
}

#single ol {
	padding: 10px 3px 10px 30px;	
	border: 1px dashed #ddd;
	color: #666;
	font-size: 13px;
}


/*--- Begin #category ---*/

#category h1 {
	font-size: 22px;
	margin-top: -2px;
	color: #4834bb;
	font-weight: bold;
}

.clist ul {
	list-style: disc;
	padding-left: 25px;
	padding-top: 15px;
}

.clist ul li {
	display: list-item;
	padding-left: 3px;
}








/*------Begin .meta------*/
.meta {
	margin-top: 7px;
	color: #888;
	font-size: 12px;
}
.meta a {
	color: #777;
}

.meta span {
	margin-right: 13px;
}

.meta span i {
	margin-right: 3px;
}


/*-------- #footer --------*/
#footer {
	clear: both;	
  	background: #333;
    overflow: hidden;
	display: block;
}

#footer .holder {
	max-width: 1025px;
	margin: 0 auto;
	padding: 16px 1px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow: hidden;
	color: #aaa;
	font: 13px/15px 'Open Sans', Arial, Helvetica, sans-serif;
}

#footer a {
	color: #aaa;
}

#footer .holder nav {
	float: right;
	width: 48.5%;
}

#footer .holder nav ul {
	padding: 0;
	margin: 0;
	text-align: right;
	font: 13px/18px 'open sans', Helvetica, Arial, sans-serif;
	overflow: hidden;
}

#footer .holder nav ul li {
	padding-left: 20px;
	letter-spacing: 2px;
}







