	<div class="title">
		<span class="<?php if($func == 'index') echo 'active'; ?>">
			<a href='/admin.php/article'>文章列表</a>
		</span>
		<span class="<?php if($func == 'draft') echo 'active'; ?>">
			<a href="/admin.php/article/draft">草稿管理</a>
		</span>
		<span class="<?php if($func == 'timing') echo 'active'; ?>">
			<a href="/admin.php/article/timing">定时发布</a>
		</span>
		<span class="<?php if($func == 'del') echo 'active'; ?>">
			<a href="/admin.php/article/del">已删除文章</a>
		</span>
		<div class="action">
			<button type="button" func="click_add_article" class="click btn-xs btn btn-success">
				<i class="icon-plus"></i> 添加文章	
			</button>
		</div>
	</div>
