<include file="public:header" />
<include file="public:sidebar" />
<div id="index" class="container">
	<div class="title">
		<span class="active">仪表盘</span>
	</div>
	<div class='block_nav'>
		<div class='block block_article'>
			<i class="icon-file-alt"></i>
			<span class="_num">32</span>
			文章
		</div>
		<div class='block block_category'>
			<i class="icon-file-alt"></i>
			<span class="_num">11</span>
			分类
		</div>
		<div class='block block_tag'>
			<i class="icon-tags"></i>
			<span class="_num">35</span>
			标签
		</div>
		<div class='block block_email'>
			<i class="icon-envelope"></i>
			<span class="_num">5</span>
			邮件
		</div>
		<div class='block block_comment'>
			<i class="icon-comment"></i>
			<span class="_num">132</span>
			评论
		</div>
		<div class='block block_config'>
			<i class="icon-eye-open"></i>
			<span class="_num">132</span>
			浏览
		</div>
	</div>
	<div class=''>
		
	</div>
</div>
<include file="public:footer" />
