<div class="main">
	<?php if($action == 'index'){ ?>
		<include file='Index/recommands' />
	<?php }else if($action == 'category'){ ?>
		<include file='Category/prompt' />
	<?php }else if($action == 'tag'){ ?>
		<include file='Category/prompt' />
	<?php }else if($action == 'single'){ ?>
	<?php } ?>
	<div class="alist">
		<ul>
            <volist name="alist" id="vo" empty="暂无相关文章">
                <li>
					<h2><a class="title" href="/single/{$vo.id}">{$vo.title}</a></h2>
                    <div class="meta">
                    	<span>
                    		<i class="icon-book"></i>
                    		<?php 
                    			$str = '';
                    			foreach($vo['category'] as $v){ 
                                    $str .= '<a href="/category/'.$v['alias'].'">'.$v['name'].'</a>，'; 
                                }
                    			echo trim($str,'，');
                    		 ?>
                    	</span>
                    	<span>
                    		<i class="icon-tags"></i>
                    		<?php 
                    			$str = '';
                    			foreach($vo['tag'] as $v){ $str .= '<a href="/tag/'.$v['alias'].'">'.$v['name'].'</a>，'; }
                    			echo trim($str,'，');
                    		 ?>
                    	</span>
                        <span>浏览：<a href="">{$vo.views}</a> </span>
                    	<span class="meta-date">日期：<?php echo date('Y/m/d',strtotime($vo['date'])); ?></span>
                    </div>
                    <p> 
                        <?php echo mb_strimwidth(strip_tags(html_entity_decode($vo['content'])), 0, 300, ' ...','utf8'); ?>
                    </p>
                </li>
            </volist>
        </ul>
	</div>
</div><!-- End .main -->

